<launch>
    <include file="$(find ndrones)/launch/debug/world.launch" />
    <include file="$(find ndrones)/launch/debug/mapping.launch" />
    <include file="$(find ndrones)/launch/simulation/visualization.launch" />
    <node name="botmover" pkg="ndrones" type="botmover.py" output="screen" />	
    <node name="mapcombiner" pkg="ndrones" type="mapcombiner.py" output="screen" />
</launch>